*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#main {
  /* border: 2px solid red; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('images/cloud.gif') no-repeat center center;
  background-size: cover;
}
#main>h1{
  font-size: 55px;
}

#main button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#main button:hover {
  background-color: #45a049;
}

#result{
  font-size: 55px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  border-radius: 10px;
}
